*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#headbar
{
    background-color: cadetblue;
    height: 10vh;
    width: 100%;
    position: fixed;
}

#sidebar
{
    background-color: cadetblue;
    justify-content: space-around;
    align-content: center;
    margin-top: 10vh;
    width: 5vw;
    height: 100vh;
    position: fixed;
}

.go-to-top-button
{
    margin-top: 50vh;
}

#sidebar input[type="image"]
{
    height: 10vh;
    width: 5vw;
}

#logo
{
    height: 6vh;
    margin: 2vh;
}

#content
{
    height: 300vh;
}

