*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#headbar
{
    background-color: cadetblue;
    height: 10vh;
    width: 100%;
    position: fixed;
}

#logo
{
    height: 6vh;
    margin: 2vh;
}

#sidebar
{
    background-color: cadetblue;
    justify-content: space-around;
    align-content: center;
    margin-top: 10vh;
    width: 5vw;
    height: 100vh;
    position: fixed;
    text-align: center;
    color: white;
}

.sidebar-menu
{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    margin-top: 10vh;
    margin-left: 5vw;
    width: 15vw;
    height: 100vh;
    position: fixed;
}

.menu-text
{
    margin: 0.5vh;
    padding: 0.5vh;
}

#sidebar input[type="image"]
{
    height: 10vh;
    width: 5vw;
}

#sidebar input[type="image"]:hover 
{
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes rotation 
{
    from 
    {
        transform: rotate(0deg);
    }

    to 
    {
        transform: rotate(359deg);
    }
}

#go-to-top-button
{
    margin-top: 45vh;
}